<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RequestDesk</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>21600</session-timeout>
  </session-config>
  <!-- ****************************************************************** -->
  <!-- SERVLET CONFIGS -->
  <!-- APIs -->
  <servlet>
	<servlet-name>ApiGetRequestSolution</servlet-name>
	<servlet-class>org.RequestDesk.api.GetRequestSolution</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>ApiGetRequestHistory</servlet-name>
	<servlet-class>org.RequestDesk.api.GetRequestHistory</servlet-class>
  </servlet>
  
  <!-- Servlets -->
  <servlet>
	<servlet-name>Login</servlet-name>
	<servlet-class>org.RequestDesk.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>HomeController</servlet-name>
	<servlet-class>org.RequestDesk.controller.HomeController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>UserSettings</servlet-name>
	<servlet-class>org.RequestDesk.controller.UserSettingsController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>NewRequest</servlet-name>
	<servlet-class>org.RequestDesk.controller.NewRequestController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Request</servlet-name>
	<servlet-class>org.RequestDesk.controller.RequestController</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>Requests</servlet-name>
	<servlet-class>org.RequestDesk.controller.RequestsController</servlet-class>
  </servlet>
  
  <!-- ****************************************************************** -->
  <!-- SSERVLET MAPPINGS -->
  <!--  Mapping -->
  <servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>HomeController</servlet-name>
	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>UserSettings</servlet-name>
	<url-pattern>/usersettings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>NewRequest</servlet-name>
	<url-pattern>/newrequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>Request</servlet-name>
	<url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>Requests</servlet-name>
	<url-pattern>/requests</url-pattern>
  </servlet-mapping>
  
  <!-- APIs mapping -->
  <servlet-mapping>
	<servlet-name>ApiGetRequestSolution</servlet-name>
	<url-pattern>/api/GetRequestSolution</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>ApiGetRequestHistory</servlet-name>
	<url-pattern>/api/GetRequestHistory</url-pattern>
  </servlet-mapping>
</web-app>